<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Detection</title>
</head>
<body>
    <h1>Face Detection Web App</h1>

    <form action="/process_video" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <input type="submit" value="Upload Video">
    </form>

    <div id="progress"></div>

    <div id="detected_faces"></div>

    <a href="/download_faces">Download Faces</a>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
